
.card-img-wrapper{
    overflow: hidden;
    position: relative;
}

.card img{
    transition: 0.2s all ease-in-out;
}

.card img:hover{
    transform: scale(1.2, 1.2);
}

.member-icons{
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.card-img-wrapper:hover .member-icons{
    bottom: 0;
    opacity: 1;
}

.animate{
    transition: 0.3s all ease-in-out;
}